[colors]
# Base16 Nord
# Author: arcticicestudio

foreground          = #e5e9f0
foreground_bold     = #eceff4
cursor              = #eceff4
cursor_foreground   = #2e3440
background          = rgba(46, 52, 64)

# 16 color space

# Black, Gray, Silver, White
color0  = #2e3440
color8  = #4c566a
color7  = #e5e9f0
color15 = #8fbcbb

# Red
color1  = #88c0d0
color9  = #88c0d0

# Green
color2  = #bf616a
color10 = #bf616a

# Yellow
color3  = #5e81ac
color11 = #5e81ac

# Blue
color4  = #ebcb8b
color12 = #ebcb8b

# Purple
color5  = #a3be8c
color13 = #a3be8c

# Teal
color6  = #d08770
color14 = #d08770

# Extra colors
color16 = #81a1c1
color17 = #b48ead
color18 = #3b4252
color19 = #434c5e
color20 = #d8dee9
color21 = #eceff4
